html {
	/* Background image */
	background-image: url("images/web.gif");
	background-size: cover;
	image-rendering: pixelated;
	background-attachment: fixed;
	background-position: center;

	font-family: "Retro Gaming";
}

@font-face {
	font-family: "Retro Gaming";
	src: url("Retro Gaming.ttf");
}


/* Boxes */
div.content-box {
	background-color: black;
	border: solid 3px purple;
	
	margin: 15px;
	padding: 5px;

	min-width: 30%;
	max-width: 100%;

	min-height: 512px;
	flex-grow: 1;
}

#header {
	background-color: black;
	border: solid 3px purple;
	text-align: center;
	width: 300px;
	margin: auto;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 30px;
}

/* Containers */
.container {
	display: flex;
	flex-wrap: wrap;
}

.row {
	flex-direction:row;
}

.column {
	flex-direction:column;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  max-width 512px;
  max-height: 50%;
}

div.scroll-container img {
  margin: 10px;
  height: 450px;
  max-width: 512px;
  
}

div.blog {
  max-height: 512px;
  overflow: auto;

  max-width: 100%;
  min-width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Elements */
h1, h2, p, a {
	color: white;
}

#meImg {
  margin-right: 15px; 
  margin-top: auto; 
  margin-bottom: auto;
  width: 256px; 
  height: 256px; 
  text-align: center;
}

img.icon {
  width: 32px;
  height: 32px;
  padding-right: 8px;
}

p.mainText {
	max-width: 256px;
}

img.badge {
  padding-left: 8px;
}
